h1 {
    text-align: center;
    font-family: 'Courier New';
    border-bottom: 3px solid black;
}
p2 {
    float: right;
    padding: 0;
    position: absolute;
    top: 85px;
    right:30px;
  }
  p3 {
    float: right;
    padding: 0;
    position: absolute;
    top: 105px;
    right:30px;
  }
h4 {
    border-bottom: 3px solid black;
}
ul1 {
          padding: 0;
          position: absolute;
          left: 60%;
          top:320px;

}