img {
    width: 100%; /* Chiều ngang toàn màn hình */
    height: 300px;
    filter:grayscale(100%);/* Làm ảnh chuyển thành màu xám */ /*filter là thuộc tính CSS được sử dụng để áp dụng các hiệu ứng hình ảnh như mờ, sáng hơn, tối hơn, hoặc màu xám.*/

}
.text {
    position: absolute; /*được sử dụng để đặt vị trí của một phần tử HTML dựa trên phần tử chứa nó hoặc trên toàn bộ tài liệu*/
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    padding: 10px;
}
.search-container {
    display: flex;
    justify-content: center; /* Căn giữa thanh tìm kiếm */
    width: 100%; /* Chiếm toàn bộ chiều ngang của phần tử chứa */
    margin-top: 20px; /* Khoảng cách phía trên */
    
    
}

form {
    display: flex; /*display: chế độ bố cục; flex: chế độ chiều ngang*/
    width: 100%;
    max-width: 600px; /* Giới hạn chiều rộng tối đa */
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;   
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    
}

button:hover {
    background-color: #45a049;
}
.category-1 {
    background-color:antiquewhite
}
.box-title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.menu {
    display: flex;/*giúp sắp xếp, bố cục các thành phần khối  một cách dễ dàng, linh hoạt. ở đây dùng để nằm ngang phần ảnh */
    padding: 20px;
    
}

.menu img { 
    padding: 20px;
    width: 20%;
    filter: none;
}

.box {
    float: left;
    position: relative; 
    width: 30%; /**/
    
    

}
.box img {
    width: 80%;
}
.caption {
    position: absolute; /*giúp định vị trí tuyệt đối cho thành phần theo thành phần bao ngoà*/
    bottom: 0; /*đặt vị trí của một phần tử dựa trên phía dưới cùng của phần tử chứa nó*/
    width: 30%;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 10px;

}
.note {
    float: left;
    position: relative; 
    width: 30%; /**/
    
    

}
.note img {
    width: 80%;
}
.caption-1 {
    position: absolute; /*giúp định vị trí tuyệt đối cho thành phần theo thành phần bao ngoà*/
    bottom: 0; /*đặt vị trí của một phần tử dựa trên phía dưới cùng của phần tử chứa nó*/
    color: black;
    padding: 10px;
    font-size: 25px;
    margin-bottom: -30px;
}
.Category-3 {
    background-color: antiquewhite;
}
.caption-3 {
    position: absolute; /*giúp định vị trí tuyệt đối cho thành phần theo thành phần bao ngoà*/
    bottom: 0; /*đặt vị trí của một phần tử dựa trên phía dưới cùng của phần tử chứa nó*/
    width: 30%;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    margin-bottom: 150px;

}